/* 网站商务  */

*{margin:0;padding:0}


.wz_banner{width:1200px;margin:0 auto;}
.wz_banner{height:515px}
.wz_swzl_box{height:475px;position: relative;  z-index: 1;}
.wz_swzl_box a{display:inline-block;height:200px;float:left;}
.wz_swzl_box .ptt35{padding-top:35px;}
.wz_swzl_teimga{width: 327px;position: absolute;right: 0px;top: -46px;}
.wz_pl9{padding-left:9px}
.wz_xsqg_box{background:url(../css/images/wz_xsqg_box_bg.jpg) no-repeat;height:505px;margin-top:25px;position: relative;}
.wz_xsqg_box a{position: absolute;display: block;}
.wz_xsqg_box .wz_xsqg_xf_a{width: 185px;height: 427px;right: 369px;top:20px;}

.wz_xsqg_box .wz_xsqg_xf_a{  width: 185px;height: 427px;right: 369px;}
.wz_xsqg_box .wz_xsqg_my_a{  width: 185px;height: 257px;right: 169px;top: 57px;}
.wz_xsqg_box .wz_xsqg_wz_a{width: 80px;height: 140px;right: 139px;bottom: 50px;}
.wz_xsqg_box .wz_xsqg_cs_a{width: 145px;height: 207px;right: 9px;bottom: 87px;}
.wz_xsqg_box .wz_xsqg_ld_a{width: 150px;height: 140px;right: 16px;top: 59px;}
.wz_xsqg_box .wz_xsqg_px_a{  width: 135px; height: 77px;right: 219px;bottom: 72px;}

.wz_main_b_box{margin-top:30px;}
.wz_main_b_box_l {width: 794px;}
.wz_main_b_box_r {width: 405px;}
.wz_main_b_box_l li{width:262px;height:252px;background:#fff;float: left;margin: 1px 1px 2px 1px;}
.wz_main_b_box_l li span{display: inline-block;width: 247px;line-height:24px;}
.wz_main_b_box_l li .wz_main_b_h1{font-size:20px;color:#843942;padding-left:15px;padding-top:20px;}
.wz_main_b_box_l li .wz_main_b_h2{font-size:14px;color:#000;padding-left:15px;}
.cl{clear: both;}

.wz_swzl_div_bg{position: absolute;z-index:-1;width:880px;height:475px;background:#000;left:0;top:0;}

.wz_pp_box_t ul li{width:578px;height:188px; float: left;background:#fff;margin-bottom: 20px;margin-right: 20px;position: relative;}
.wz_pp_box_t ul li dt{float: left;}
.wz_pp_box_t ul li .d1{height: 30px;line-height: 30px;font-size: 14px;color: #573f42;padding: 22px 0 0 320px;font-weight: bold;}
.wz_pp_box_t ul li .d2{  line-height: 20px;font-size: 12px;padding-left: 320px;padding-right: 15px;}
.wz_pp_box_t ul li .wz_pp_span_bg{background:url(../css/images/wz_pp_img0.png) no-repeat;position:absolute;bottom:-25px;left:0;display:inline-block;width:578px;height:25px;}

.wz_pp_box_b{min-height:300px;background:#fff;}
.wz_pp_box_b_tit{font-size:14px;line-height:44px;padding-left:5px;margin:0 20px;border-bottom:2px solid #000;}
.wz_pp_box_b_tit span{padding-right:10px;font-weight: bold;}
.wz_pp_box_b_tit a{font-size:14px;color:#000;padding:0 5px;line-height:44px;}

.wz_pp_box_b_mianer{height:400px;overflow:auto;}
.wz_pp_box_b_mianer .fs48{font-size:48px;padding:50px 10px 0 35px;display: block;float: left}
.wz_pp_box_b_mianer ul{width:950px;float: left;margin:20px 0 20px 50px;}
.wz_pp_box_b_mianer ul li{float: left;width:470px;text-align:left;line-height:28px;}
.wz_pp_box_b_mianer ul li a{color:#969696;font-size:14px;}
.wz_pp_box_b_mianer ul li a:hover{color:#5b5b5b;}

.wz_borB1{border-bottom:1px solid #f0f0f0;margin: 0 20px;}
.wz_pf{position: fixed;top:0;width:1170px;left:50%;margin-left:-600px;background:#fff;}
.wz_pp_box_b_tit .wz_on{color:#5b5b5b;font-weight: bold;}

.wz_bg1{background:#f1f1f1;}
.wz_gx_b {width:1200px;margin-top:20px;padding-bottom:20px;}
.wz_gx_b li{width:295px;height:288px;background:#fff;float: left;margin:2px;}
.wz_gx_b li span{display: inline-block;width: 247px;line-height:24px;}
.wz_gx_b li .wz_main_b_h1{font-size:20px;color:#843942;padding-left:35px;padding-top:20px;}
.wz_gx_b li .wz_main_b_h2{font-size:14px;color:#000;padding-left:35px;}

/*.wz_pr{background:url(../css/images/wz_sh_bg1.jpg) repeat-x;}*/
/*.wz_bg_box1{position:absolute;left:0;right:0;height:800px;top:1302px;}*/


.wz_sh_c{margin:20px 0 20px 0;}
.wz_sh_c ul li{float: left;margin-right:4px}
.wz_sh_c ul .wz_ml1{margin-left:1px;}

/*图片*/
.imgBox_a2:hover img {
    animation: indexImgHovers .8s ease-in-out;
    -moz-animation: indexImgHovers .8s ease-in-out;
    -webkit-animation: indexImgHovers .8s ease-in-out;
    -o-animation: indexImgHovers .8s ease-in-out;
}

@keyframes indexImgHovers {
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    50% {
        opacity: .7;
        filter: alpha(opacity=70);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
.imgBox_a:hover img {
    animation: indexImgHover .8s ease-in-out;
    -moz-animation: indexImgHover .8s ease-in-out;
    -webkit-animation: indexImgHover .8s ease-in-out;
    -o-animation: indexImgHover .8s ease-in-out;
}

@keyframes indexImgHover {
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    50% {
        opacity: .7;
        filter: alpha(opacity=70);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}


.wz_ns_ul_o li{float: left;}
.wz_ns_box_c ul li{float:left;background:#fff;position:relative;margin:1px;}
.wz_ns_box_c ul li .wz_ns_num{position: absolute;left:10px;top:10px;color:#573f42;font-size:16px;}

/*.wz_ty_box{margin-top:15px;padding-bottom:15px;}*/
.no_lr .flex-direction-nav{display:none;}




