.searchAreaBox a{ color:#4B4B4B; white-space:nowrap; }

.searchAreaBox a em{ color:#999; }

.searchAreaBox .val a{ margin:0 20px 5px 0; float:left; }

.searchAreaBox{ box-shadow:0 0px 20px #c1c1c1; background-color:#FFF; zoom:1; }

.searchAreaBox .clearFix2 a{ width:88px;height:88px;float:left; border:1px solid #c7c7c7;margin:-1px -1px 0 0;}

.searchAreaBox .clearFix2 a:hover{border:1px solid #595959;z-index:1;position:relative;}

.searchAreaBox .clearFix2 a img{width:88px;height:88px;}



.searchAreaItem{ border-bottom:1px solid #F1F1F1; }

.searchAreaItem .key{ float:left; width:80px; padding-left:20px; }

.searchAreaItem .btns{ float:right; width:100px; padding-right:20px; text-align:right; font-size:12px; *height:15px;display:none; }

.searchAreaItem .val{ border-left:1px solid #F1F1F1; margin:0 120px 0 100px; padding:10px 20px; }

.searchAreaItem .val2{ border-left:1px solid #F1F1F1; margin:0 120px 0 100px; padding:10px 20px; }

.searchAreaItem .key, .searchAreaItem .btns, .searchAreaItem .val{ padding:10px 10px 5px; overflow:hidden;font-size:12px;}

.btn_clearChoosed{ font-size:14px; color:#001F82 !important; }

.btn_clearChoosed .icon{ width:15px; height:14px; background-position:0 -72px; position:relative; left:-10px; }

/*分类*/
.searchAreaClassify{max-height:173px; overflow:hidden; }

.searchAreaClassify a{ float:left; height:26px; }

/*更多*/
.btn_more .icon{ width:9px; height:9px; background-position:0 -87px; vertical-align:top; margin-top:3px; *vertical-align:middle; }

.btn_more_up .icon{ background-position:0 -96px; }

.showMore .val{ height:181px !important; overflow-y:auto; }

/*多选*/
.btn_chooseMore .icon{ width:7px; height:7px; background-position:0 -105px; position:relative; left:-5px; top:-1px; }

/*共多少件商品*/
.crumbsBox{ position:relative;font-size:12px; }

.crumbsBox .fr{ position:absolute; top:1px; right:5px; }

/*更多选项*/
.searchAreaBoxMore .btn_more{ color:#484848; border:1px solid #E0E0E0; display:inline-block; padding:7px 20px; background:-moz-linear-gradient(top, #F0F0F0, #FAFAFA); FILTER:progid:DXImageTransform . Microsoft . Gradient(gradientType = 0, startColorStr = #F0F0F0, endColorStr = #FAFAFA); /*IE*/ }

/*排序区域*/
.orderBox{ border-bottom:1px solid #E3E1E1; position:relative; background:#FFF; }

.orderBox_btn{color: #898989;float: left;height: 20px;line-height: 20px;margin-right: 1px;text-align: center;width: 48px;border: 1px solid #898989;margin: 5px 5px 0 5px;font-size: 12px;}

.orderBox_btn:hover{color:#3c3c3c;}

.orderBox_btn i{}

.orderBox_btn_curr{ background-color:#898989; color:#fff;}
.orderBox_btn_curr:hover{ background-color:#898989; color:#fff;}

.icon2{background:url(images/icon22.png);}


.orderBox_btn_curr .icon_orderBox_btn {background-position: -1px -336px;}
.orderBox_btn_curr .icon_orderBox_btn2 {background-position:-11px -398px;}


.searchAreaBox .clearFix3{width:915px;}


.orderBox_btn_curr i{ display:inline-block; }

.icon_orderBox_btn{width: 8px;height: 9px;background-position: -1px -177px;margin-left: 3px;display: inline-block;}

.icon_orderBox_btn_down{ background-position:0 -114px; }

.orderBox .btn_aWhite{ width:30px; background:#F98B15; color:#FFF !important; position:relative; top:1px; height:16px; line-height:16px; float:none; padding:0 5px 2px; background-color:#A1A1A1; font-size:10px; }

.orderBox .input_text{ width:35px; height:9px; line-height:9px; }

.orderBox_input{ float:left; margin:0px 0 0 10px; }

/*.orderBox_input  .orderBox_btn{ background-color:#A1A1A1;font-size:10px;vertical-align:top;margin-left:10px;padding:2px 5px 5px;}*/
/*迷你分页*/
.pageMini{ height:25px; position:absolute; top:5px; *top:8px; right:20px; }

.pageMini span{font-size:12px;}

.btn_pageBtn_pageMini{ width:24px; height:24px; line-height:24px; text-align:center; font-family:verdana; font-size:18px; display:inline-block; }

/*已选标签*/
.lableChoosed{ display:inline-block; padding:3px 5px 5px; border:1px solid #FF0000; }

.lableChoosed .icon{ width:9px; height:9px; background-position:0 -130px; }

/*展示更多带复选框*/
.checkbox{ display:none; }

.valCheckBox{ border:2px solid #E3E3E3 !important; padding:0 !important; }

.valCheckBox .checkbox{ display:inline-block; }

.searchAreaBox .valCheckBox a{ margin:5px 10px 5px 3px; }

.valCheckBox_btnBar{ border-top:1px solid #E3E3E3; text-align:center; height:36px; padding-top:8px; background:#E3E3E3; display:none; }

.valCheckBox .valCheckBox_btnBar{ display:block; }

.valCheckBox_btnBar a{ float:none !important; margin:0 !important; }

/*促销类型标签*/
.icon_hotSale{ width:56px; height:56px; position:absolute; left:-5px; top:0; display:inline-block; overflow:hidden; background:url(images/icon_hotSale.png) no-repeat; vertical-align:middle; margin-left:5px; }

.icon_hot1{ background-position:0 0; }

/*热卖*/
.icon_hot2{ background-position:0 -56px; }

/*特价*/
.icon_hot3{ background-position:0 -112px; }

/*特惠*/
