@charset "utf-8";
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
body {font-family:tahoma,arial,\5b8b\4f53;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;*zoom:1;}
/* Hides from IE-mac \*/* html .clearfix{height:1%;}.clearfix{display:block;}/* End hide from IE-mac */

/* 头部代码 */
#site-header {border-bottom:1px solid #dbdbdb;padding:12px 30px;position:relative;}
#site-header .page-pro {padding-left:74px;height:64px;overflow:hidden;}
#site-header .page-pro .nowaday {float:left;margin-left:-74px;}
#site-header .page-pro h3 {font-size:16px;font-weight:600;color:#000;line-height:1.8;}
#site-header .page-pro p {font-size:14px;color:#666666;max-width:600px;line-height:1.3;}
#site-header .page-nav {width:300px;position:absolute;right:10px;top:12px;}
#site-header .page-nav li {float:left;margin-left:10px;}
#site-header .page-nav li img{width: 64px;height: 64px;}
#site-header .color-red {color:#cb0000;}

.zgc-tools {
position: absolute;
top: 117px;
right: 10px;
width: 300px;
padding: 0px;
border-radius: 3px;
z-index: 11;
}
.zgc-btns {
height: 30px;
margin-bottom: 10px;
}
.zgc-btns span {
float: left;
width: 58px;
height: 28px;
line-height: 28px;
border: 1px solid rgb(0, 0, 0);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
margin-right: -1px;
background: rgb(48, 48, 48);
color: rgb(255, 255, 255);
font-size: 14px;
text-align: center;
cursor: pointer;
}
.zgc-btns form {
padding: 0px;
margin: 0px;
}
.zgc-btns form input {
background: none;
border: none;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
color: rgb(255, 255, 255);
width: 56px;
height: 28px;
line-height: 28px;
cursor: pointer;
}
.zgc-btns #J_upstate {
margin-left: 0px;
}
.zgc-btns span {
float: left;
width: 58px;
height: 28px;
line-height: 28px;
border: 1px solid rgb(0, 0, 0);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
margin-right: -1px;
background: rgb(48, 48, 48);
color: rgb(255, 255, 255);
font-size: 14px;
text-align: center;
cursor: pointer;
}
.zgc-widgets li {
float: left;
padding: 0px 10px;
width: 121px;
height: 34px;
line-height: 34px;
text-align: center;
background: rgb(244, 244, 244);
color: rgb(0, 0, 0);
border: 1px solid rgb(203, 203, 203);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
margin-right: 10px;
margin-bottom: 5px;
font-size: 14px;
cursor: pointer;
}
.zgc-widgets li em {
float: left;
width: 16px;
height: 16px;
margin: 4px 10px 0px 0px;
background-repeat: no-repeat;
background-image: url(../../www.guanmeikj.cn/gongju/requ/assets/stylesheets/tools.css);
display: none;
}
.zgc-attrib {
font-size: 12px;
margin-top:5px;
}
.zgc-attlist {
display: none;
border-top: 1px solid rgb(203, 203, 203);
padding-top: 10px;
}
.zgc-attrib .zgc-attnav {
height: 26px;
position: relative;
}
.zgc-attrib .zgc-attnav li.nav-selected {
position: relative;
z-index: 3;
border-bottom-color: rgb(255, 255, 255);
background: rgb(255, 255, 255);
}
.zgc-attrib .zgc-attnav li {
float: left;
width: 80px;
height: 24px;
font-weight: 600;
font-size: 12px;
line-height: 24px;
text-align: center;
border: 1px solid rgb(203, 203, 203);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background: rgb(244, 244, 244);
color: rgb(51, 51, 51);
margin-right: 2px;
cursor: pointer;
}
.zgc-attrib .zgc-attcnt {
border: 1px solid rgb(203, 203, 203);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
margin-top: -1px;
}
.zgc-attrib .set-inner {
display: block;
background: rgb(255, 255, 255);
padding-top: 20px;
padding-bottom: 10px;
}
.zgc-attrib .control-group {
margin-bottom: 10px;
}
.zgc-attrib .control-label, .zgc-attrib .input-radio, .zgc-attrib .input-checkbox {
display: inline-block;
height: 26px;
line-height: 26px;
vertical-align: middle;
}
.zgc-attrib .control-label {
float: left;
width: 78px;
text-align: right;
overflow: hidden;
}
.zgc-attrib label {
color: rgb(45, 45, 45);
}
user agent stylesheetlabel {
cursor: default;
}
.zgc-attrib .control {
margin-left: 88px;
}
.zgc-attrib input.midlong {
width: 150px;
}
.zgc-attrib input.input-box, .zgc-attrib select.input-box {
width: 200px;
}
.zgc-attrib input.input-box, .zgc-attrib select.input-box {
display: inline-block;
height: 23px;
line-height: 23px;
vertical-align: middle;
border-top: 1px solid rgb(192, 192, 192);
border-bottom: 1px solid rgb(217, 217, 217);
border-left: 1px solid rgb(217, 217, 217);
border-right: 1px solid rgb(217, 217, 217);
}
.zgc-attrib input, .zgc-attrib textarea, .zgc-attrib select {
display: inline-block;
}
.zgc-attrib span.tips {
color: rgb(153, 153, 153);
display: inline-block;
padding-left: 6px;
}
.zgc-attrib input.btn-ok {
background-color: rgb(45, 45, 45);
border: 0px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
color: white;
cursor: pointer;
display: inline-block;
height: 26px;
line-height: 26px;
padding: 0px 9px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}
.zgc-attrib span.zgtips {
color: rgb(153, 153, 153);
display: inline-block;
padding-top: 6px;
padding-right: 15px;
}
.zgc-attlist {
display: none;
border-top: 1px solid rgb(203, 203, 203);
padding-top: 10px;
}
.zgc-attrib .zgc-attnav {
height: 26px;
position: relative;
}
.zgc-attrib .zgc-attnav li.nav-selected {
position: relative;
z-index: 3;
border-bottom-color: rgb(255, 255, 255);
background: rgb(255, 255, 255);
}
.zgc-attrib .zgc-attnav li {
float: left;
width: 80px;
height: 24px;
font-weight: 600;
font-size: 12px;
line-height: 24px;
text-align: center;
border: 1px solid rgb(203, 203, 203);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background: rgb(244, 244, 244);
color: rgb(51, 51, 51);
margin-right: 2px;
cursor: pointer;
}
