#site-header {height:66px;}
.ruler {height:17px;overflow:hidden;background:url(../images/ruler.gif) no-repeat left top;}
.zidingyi {padding:10px 0 0 10px;}
.zgc-tools {position:fixed;top:117px;right:10px;width:250px;padding:0px;border-radius:3px;z-index:11;
	padding: 13px;background: #F2F2F2;border-radius: 10px;
}
#dialog textarea{width:925px;}
#file_o{border:none;width:145px;outline: none;margin-top:3px;}
.zgc-widgets ul {width:310px;margin-right:-10px;}
.zgc-widgets li {float:left;padding:0px 14px;width:90px;height:34px;line-height:34px;text-align:center;background:#f4f4f4;color:#000;border:1px solid #cbcbcb;margin-right:10px;margin-bottom:5px;font-size:14px;cursor:pointer;}
.zgc-widgets li em {float:left;width:16px;height:16px;margin:4px 10px 0 0;background-repeat:no-repeat;background-image:url();display:none;}
.zgc-widgets li:hover{ background:#ff6600;color:#fff;border:1px solid #ff6600;}
.zgc-widgets li.outstand {background:#d0ebfe;border:1px solid #9ac9ed;color:#0099cc;}
.zgc-widgets li.outstand:hover {border-color:#ff7b23;background:#ff7b23;color:#fff;text-decoration:none;}

.zgc-btns {height:30px;margin-bottom:10px;}
.zgc-btns span {float:left;width:61px;height:28px;line-height:28px;border:1px solid #000;margin-right:-1px;background:#303030;color:#fff;font-size:14px;text-align:center;cursor:pointer;}
.zgc-btns span:hover{background:#4c4c4c;}
.zgc-btns span.btn-preview a {color:#fff;text-decoration:none;}
.zgc-btns #J_upstate {margin-left:0px;}
.zgc-btns form {padding:0;margin:0;}
.zgc-btns form input {background:none;border:none;color:#fff;width:56px;height:28px;line-height:28px;cursor:pointer;}
.container {width:100%;height:100%;}
#canvas {position:relative;width:100%;height:100%;}

.zg_moved {position:absolute;top:0px;left:0px;}
.zg_drag{width:100%;height:100%;padding:0px;background-color:rgba(30,255,255,0.2);position:absolute;top:0px;left:0px; cursor:move;z-index:9;}
.zg_close,
.zg_drag .zg_close {position:absolute;right:-6px;top:-6px;width:16px;height:16px;font-size:14px;line-height:16px;text-align:center;overflow:hidden;color:#88a3ba;background-color:rgba(255,255,255,1.0);cursor:pointer; border:1px solid #ccc;border-radius:50%;z-index:91;}
.zg_close:hover,
.zg_drag .zg_close:hover {background-color:#d93c3c;border-color:#d93c3c;color:#ffffff;}
.zg_moved.selected .zg_drag,
.zg_drag.selected {background-color:rgba(255,188,188,0.6);}
.sg_abface .zg_drag {top:-1px;left:-1px;}
.sg_abface:hover .wd_hovimg .con_img {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";}

.ui-resizable-n {height:1px;top:0;}
.ui-resizable-e {width:1px;right:0;}
.ui-resizable-s {height:1px;bottom:0;}
.ui-resizable-w {width:1px;left:0;}
.ui-resizable-n,
.ui-resizable-e,
.ui-resizable-s,
.ui-resizable-w {background-color:rgba(255,102,0,0.3);}
.zg_moved:hover .ui-resizable-n,
.zg_moved:hover .ui-resizable-e,
.zg_moved:hover .ui-resizable-s,
.zg_moved:hover .ui-resizable-w {background-color:rgba(255,102,0,0.5);}
.selected:hover .ui-resizable-n,
.selected:hover .ui-resizable-e,
.selected:hover .ui-resizable-s,
.selected:hover .ui-resizable-w,
.selected .ui-resizable-n,
.selected .ui-resizable-e,
.selected .ui-resizable-s,
.selected .ui-resizable-w {background-color:rgb(255,0,0);}

.zg_search .ui-resizable-ne {right:0;top:0;cursor:default;}
.zg_search .ui-resizable-se {right:0;bottom:0;}
.zg_search .ui-resizable-sw {left:0;bottom:0;cursor:default;}
.zg_search .ui-resizable-nw {left:0;top:0;cursor:default;}
.zg_search .ui-resizable-ne,
.zg_search .ui-resizable-se,
.zg_search .ui-resizable-sw,
.zg_search .ui-resizable-nw,
.zg_search .ui-icon-gripsmall-diagonal-se {width:4px;height:4px;background-color:rgb(255,0,0);}
.zg_search.selected .zg_drag {background:none;}

.zgc-attlist{display:none;border-top:1px solid #cbcbcb;padding-top:10px;}
.zgc-attrib {font-size:12px;}
.zgc-attrib .zgc-attnav{height:26px;position:relative;}
.zgc-attrib .zgc-attnav li {float:left;width:80px;height:24px;font-weight:600;font-size:12px;line-height:24px;text-align:center;border:1px solid #cbcbcb;background:#f4f4f4;color:#333333;margin-right:2px;cursor:pointer;}
.zgc-attrib .zgc-attnav li.nav-selected {position:relative;z-index:3;border-bottom-color:#fff;background:#fff;}
.zgc-attrib .zgc-attcnt {border:1px solid #cbcbcb;margin-top:-1px;}
.zgc-attrib .set-inner {display:block;background:#fff;padding-top:20px;padding-bottom:10px;}
.zgc-attrib .control-group {margin-bottom: 10px;*zoom: 1;}
.zgc-attrib .control-group:before,
.zgc-attrib .control-group:after {display: table;content: "";}
.zgc-attrib .control-group:after {clear:both;}
.zgc-attrib .control-label {float:left;width:78px;text-align:right;overflow:hidden;}
.zgc-attrib .control-label,
.zgc-attrib .input-radio,
.zgc-attrib .input-checkbox {display: inline-block;height: 26px;line-height: 26px;vertical-align: middle;}
.zgc-attrib .control {margin-left: 88px;}
.zgc-attrib label { color: #2d2d2d; }
.zgc-attrib input,
.zgc-attrib textarea,
.zgc-attrib select { display: inline-block; }
.zgc-attrib input.input-box,
.zgc-attrib select.input-box { display: inline-block; height: 23px; line-height: 23px; vertical-align: middle; border-top: 1px solid #c0c0c0; border-bottom: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
.zgc-attrib input:focus,
.zgc-attrib textarea:focus,
.zgc-attrib select:hover { border: 1px solid #c0c0c0; }
.zgc-attrib select.input-box { height: 25px; line-height: 25px; padding: 2px; }
.zgc-attrib textarea { width: 200px; height: 80px; }
.zgc-attrib input.input-box,
.zgc-attrib select.input-box { width: 130px; }
.zgc-attrib input.short { width: 50px; }
.zgc-attrib input.lgmid { width: 80px; }
.zgc-attrib input.long,
.zgc-attrib select.long { width: 200px; }
.zgc-attrib input.midlong { width: 90px; }
.zgc-attrib span.tips {color: #999999;display: inline-block;padding-left: 6px;}
.zgc-attrib span.zgtips {color:#999999;display:inline-block;padding-top:6px;padding-right:15px;}
.zgc-attrib .rc-box {float:left;margin-right:22px;margin-top:6px;}
.zgc-attrib .rc-box label {display:inline-block;float:left;padding-left:4px;}
.zgc-attrib .rc-box input {float:left;}
.zgc-attrib input.btn-ok {background-color: #2D2D2D;border: 0;color: white;cursor: pointer;display: inline-block;height: 26px;line-height: 26px;padding: 0px 9px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
.zgc-attrib input.btn-ok:hover{ background:#4c4c4c;}
.zgc-attrib .textred{ color:#F00;}
.obverse-prompt {margin-top:10px;color:#F00;}

.zgc-suggest {margin-top:10px;}
.zgc-suggest a:hover img {opacity:0.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}

#dialog .superbtn {vertical-align:middle;}
#btns_impt,
#btns_super,
#btns_undo,
#btns_copy {background-color: #2D2D2D;border: 0;color: white;cursor: pointer;display: inline-block;height: 26px;line-height: 26px;padding: 0px 9px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-size:12px;vertical-align:top;}
#dialog .superbtn {cursor:default;}
#msg_prompt {color:#dd0000;margin-right:10px;font-size:12px;}
